body {
    background-color: white;
    background-size: cover;
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/54/66/simple-world-map-sign-on-white-background-vector-36365466.jpg);
}

h1 {
    color: black;
    font-family: "Arial Rounded MT Bold";
}

main {
    width: 35%;
    margin: 0 auto;
}

.capitals {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 1em;
}

.box {
    width: 7em;
    height: 7em;

    color: white;
    background-color: rgb(29, 151, 182);
}

p {
    text-align: center;
}